/* COLOR SCHEME */
    /* 
    Matrix Green #0D0208
    Dark Green #003B00
    Alien Green #008F11
    Neon Green #00FF41
    */

/* NOTES FOR IDEAS */
    /* 
    💡Need to use some :hover effects on buttons and imagery
    💡10-flexbox-wireframe - reference for flexbox settings
    💡Robot icon rotate or change color
    💡04-css-pseudoclasses - reference for fun actions
    */
/* \/ Replicating best practices for removing white spaces and creating smooth scrolling \/ */
*,
*::after,
*::before {
    /* This ensures that there is no whitespace surrounding our content. Comment this out or delete it, and you may see some unwelcome whitespace 😖. The * means everything. the ::after and ::before are pseudo elements, we'll cover these later in class */
    margin: 0;
    padding: 0;
    
    /* This is for our anchor (<a>) tag. It makes it so that there is a scrolling effect when we navigate to other parts of our page */
    scroll-behavior: smooth;
}
/* ^ DO NOT TOUCH, it make the website all nicey-nice^ */


* {
    /* red-lining used to better see elements visually */
   border: red solid 1px; 
}

:root {
    --matrix-green: #0D0208;
    --dark-green: #003B00;
    --alien-green: #008F11;
    --neon-green: #00FF41;
    --font-color: #e6ffe6;
}

html {
    /* Computer Icon Free Use License */
    /* Image by Vectorportal.com, CC BY:https://creativecommons.org/licenses/by/4.0/ */
    background-image: url(/assets/img/computer-icon-vectorportal-08-light.png);
    background-size: contain;
    background-color: var(--matrix-green);

}

body {
    color: var(--font-color);
}

i {
    color: var(--neon-green);
}