/* COLOR SCHEME */
    /* 
    Matrix Green #0D0208
    Dark Green #003B00
    Alien Green #008F11
    Neon Green #00FF41
    */

/* NOTES FOR IDEAS */
    /* 
    💡Need to use some :hover effects on buttons and imagery
    💡10-flexbox-wireframe - reference for flexbox settings
    💡Robot icon rotate or change color
    💡04-css-pseudoclasses - reference for fun actions
    */
/* \/ Replicating best practices for removing white spaces and creating smooth scrolling \/ */
*,
*::after,
*::before {
    /* This ensures that there is no whitespace surrounding our content. */
    margin: 0;
    padding: 0;
    
    /* This is for our anchor (<a>) tag. It makes it so that there is a scrolling effect when we navigate to other parts of our page */
    scroll-behavior: smooth;
}
/* ^ DO NOT TOUCH, it makes the website all nicey-nice^ */


* {
    /* red-lining used to better see elements visually */
   border: red solid 1px; 
   font-size: 1em;
}

:root {
    --matrix-green: #0D0208;
    --dark-green: #003B00;
    --alien-green: #008F11;
    --neon-green: #00FF41;
    --font-color: #e6ffe6;
    --fav-font: 'Courier New', Courier, monospace;
    --neon-purple: #BC13FE;
    --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --reader-font: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    /* Computer Icon Free Use License */
    /* Image by Vectorportal.com, CC BY:https://creativecommons.org/licenses/by/4.0/ */
    background-image: url(/assets/img/computer-icon-vectorportal-08-light.png);
    background-size: contain;
    background-color: var(--matrix-green);

}

body {
    color: var(--font-color);
}

i {
    color: var(--neon-green);

}

.fa-robot {
    font-size: 6.6em;
    margin: 5px;
}

a {
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--secondary-font);
}

li {
    list-style-type: none;
}

#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* font-weight: bolder; */
    font-size: 2em;
    padding: 30px 0;
}

#nav-list li {
    margin: 5px 10px;
}

#nav-list a:hover {
    color: var(--neon-purple)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 160px 10px;
    background-color: var(--dark-green);
    border-top: 15px solid var(--neon-green);
}

.intro h1,h2 {
    font-family: var(--fav-font);
    font-weight: normal;
}

.intro p {
    display: none;
    /* add a fun show.hide thing here via hover or clicking on the robot?? */
}

h1 {
    font-size: 2.54em;
    padding: 10px;
    border-bottom: 15px solid var(--neon-green);
}

h2 {
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px dotted var(--neon-green);
    border-top: 5px solid var(--neon-green);
}

.intro h2 {
    font-size: 1em;
}

.about {
    display: flex;
    flex-direction: column;
}

.about h3 {
    font-family: var(--secondary-font);
    font-size: 2em;
    font-weight: normal;
    padding: 20px 0;
}

.info {
    padding: 0 20px;
}

p {
    font-family: var(--reader-font);
    line-height: 1.5em;
}

.bio-info {
    padding: 20px 0;
}

.headshot-container {
    display: flex;
    justify-content: center;
  }

.headshot {
    width: 300px;
    border-radius: 20px;
    margin: 30px;
}

.skills {
    background-color: var(--dark-green);
    color:rgb(240, 248, 255);

  }

.skills h3 {
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}

.devskills, .techskills {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   flex-flow: row wrap;
  }

.skill, .tech {
   text-transform: uppercase;
   background-color: var(--matrix-green);
   border-radius: 20px;
   color:var(--font-color);
   margin: 20px;
   padding: 15px 0;
   width: 250px;
   max-width: 250px;
   text-align: center;
  }


@media (min-width: 640px) {
    /* need to change flex-direction on everything from column to row */
}

@media (min-width: 1024px) {
   /* what more needs to expand at full view? */
}